* {
    box-sizing: border-box;
  }
  
  body {
    height:100%;
    padding:0;
    margin:0;
    font-family: 'Nunito', sans-serif;
  }

.photoBackground{
    background-image: url(../multimedia/nosCasamosFoto.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    position: fixed;
    top: -70px;
    left: 0;
    min-height: 100%;
    max-width: 480px;
    width: 100%;
    height: auto; 
    z-index: -1;
}

.fundido{
    width: 100%;
    z-index: 0;
    margin: 60vh auto 0 auto;
    background: linear-gradient(to top,  rgba(255,255,255,1) 50%,rgba(255,255,58,0) 100%);
    position: relative;
    top: 0;
    left: 0;
}

.nosCasamos{
    width: 70%;
    display: block;
    padding: 30% 0 5% 0;
    margin: 60vh auto 0 auto;
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
}

.flechaAlto{
    height: 6rem;
    margin-top: -0.5rem;

}

.flechaAbajo{
    width: 2rem;
    display: block;
    margin: 0 auto;
    padding: 2rem 0;
    z-index: 1;
    animation: MoveUpDown 2s linear infinite;
}
  
  @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
      opacity: 0;
    }
    50% {
      transform: translateY(-10px);
      opacity: 1;
    }
}

.hojas{
    z-index: 2;
    width: 60%;
    position: absolute;
    bottom: 0;
}


.backGold{
    background-color: #ddc190;
    height: 8rem;
}

p{
    font-size: 18px;
    color: white;
    padding-top: 1rem;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
}

h3{
    font-size: 25px;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.blanco{
    background-color: white;
}

.icono{
    height: 8rem;
    display: block;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.flex{
    display: flex;
    width: 70%;
    margin: 0 auto;
}

.color{
    color:#ddc190;
}

.info{
    width: 90%;
}

.btn{
    background-color: #ddc190;
    color: white;
    font-size: 18px;
    font-weight: 300;
    border-radius: 2rem;
    border: none;
    padding: 1rem 2rem;
    display: block;
    margin: 2rem auto;
}

a{
    text-decoration: none;
}

.espacio{
    margin: 3rem 0;
}

.imagenes{
    padding-bottom: 2rem;
}

.img{
    border-radius: 1rem;
    width: 20rem;
    height: 20rem;
    display: block;
    margin: 2rem auto;
    object-fit: cover;
}

#moverImg{
    object-position: 0 10%;
}

.dorado{
    background-color: #ddc190;
}

.btn-blanco{
    background-color: white;
    color: #ddc190;
}

.paddingTop{
    padding-top: 2rem;
}

.paddingBottom{
    padding-bottom: 2rem;
}

.verde{
    background-color: #a3b49b;
}

.negro{
    color: black;
}

.btn-negro{
    background-color: black;
}

.altura{
    padding: 2rem;
}

.transparente{
    background-color: rgb(255, 255, 255, 0.3);;
}

/* Modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(221, 193, 144, 0.8); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: white;
    border-radius: 2rem;
    margin: 35% auto;
    padding: 20px;
    width: 80%;
  }

  .modal-content p{
    line-height: 50px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .creditos p{
        font-size: 14px;
        padding: 2px 0;
  }
