.photoBackground{
    max-width:none;
    width: 100%;
    top:0;
}

.fundido{
    margin-top: 65vh;
    background: linear-gradient(to top,  rgba(255,255,255,1) 10%,rgba(255,255,58,0) 100%);
}

.nosCasamos{
    width: 30%;
    margin-left: 10rem;
}

.backGold{
    height: 12rem;
    padding-top: 2rem;
}

.imagenes{
    width: 85%;
    margin: 0 auto;
}

p{
    font-size: 25px;
}

h3{
    font-size: 35px;
}

.btn{
    font-size: 25px;
}

.info{
    width: 60%;
}

.flex{
    width: 20%;
    padding: 3rem 0;
}

.flechaAbajo{
    width: 3rem;
}

.btn:hover{
    cursor: pointer;
    background-color: white;
    color: #ddc190;
    border: 1px solid #ddc190;
}

.img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.btn-blanco:hover{
    background-color: #ddc190;
    color: white;
    border-color: white;
}

.btn-negro:hover{
    color: black;
    border-color: black;
}

.modal-content {
    width: 50%;
    margin: 15% auto;
}

.creditos p{
    font-size: 20px;
    text-align: end;
}