* {
    box-sizing: border-box;
  }
  
  body {
    height:100%;
    padding:0;
    margin:0;
    font-family: 'Nunito', sans-serif;
  }

.watercolorBackground{
    background-image: url(../multimedia/nosCasamosFoto.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    position: fixed;
    top: -70px;
    left: 0;
    min-height: 100%;
    max-width: 480px;
    width: 100%;
    height: auto; 
    z-index: -1;
}

.fundido{
    /* height: 10rem; */
    width: 100%;
    z-index: 0;
    margin: 60vh auto 0 auto;
    background: linear-gradient(to top,  rgba(255,255,255,1) 50%,rgba(255,255,58,0) 100%)
}

.nosCasamos{
    width: 70%;
    display: block;
    padding: 30% 0 5% 0;
    margin: 60vh auto 0 auto;
    z-index: 1;
}

.flechaAlto{
    height: 6rem;
    margin-top: -0.5rem;

}

.flechaAbajo{
    width: 2rem;
    display: block;
    margin: 0 auto;
    padding: 2rem 0;
    z-index: 1;
}

.hojas{
    z-index: 2;
    width: 60%;
    position: absolute;
    margin-top: -8rem;
}


.backGold{
    background-color: #ddc190;
    height: 8rem;
}

.flechaAbajo {
    animation: MoveUpDown 2s linear infinite;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
      opacity: 0;
    }
    50% {
      transform: translateY(-10px);
      opacity: 1;
    }
}

p{
    font-size: 18px;
    color: white;
    padding-top: 1rem;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
}

h3{
    font-size: 25px;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.blanco{
    background-color: white;
}

.icono{
    height: 10rem;
    display: block;
    padding: 2rem 0;
    margin: 0 auto;
}

.flex{
    display: flex;
    width: 70%;
    margin: 0 auto;
}

.color{
    color:#ddc190;
}

.info{
    width: 90%;
}

.btn{
    background-color: #ddc190;
    color: white;
    font-size: 18px;
    font-weight: 300;
    border-radius: 2rem;
    border: none;
    padding: 0.5rem 1rem;
    display: block;
    margin: 2rem auto;
}

a{
    text-decoration: none;
}

.espacio{
    margin: 3rem 0;
}

.imagenes{
    padding-bottom: 2rem;
}

.img{
    border-radius: 1rem;
    width: 20rem;
    height: 20rem;
    display: block;
    margin: 2rem auto;
    object-fit: cover;
}


.dorado{
    background-color: #ddc190;
}

.btn-blanco{
    /* TODO modal */
    background-color: white;
    color: #ddc190;
}

.regalo{
    height: 20rem;
}

.asistencia{
    height: 20rem;
}

.paddingTop{
    padding-top: 2rem;
}

.paddingBottom{
    padding-bottom: 2rem;
}

.verde{
    background-color: #a3b49b;
}

.negro{
    color: black;
}

.btn-negro{
    background-color: black;
}

.canciones{
    height: 20rem;
}

.covid{
    height: 19rem;
}