* {
    box-sizing: border-box;
  }
  
  body {
    height:100%;
    padding:0;
    margin:0;
    font-family: 'Nunito', sans-serif;
  }

  /* Textos */
  p{
    font-size: 18px;
    color: white;
    padding-top: 1rem;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
}

h3{
    font-size: 25px;
    color: white;
    text-align: center;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/* Colores */
.fondoBlanco{
    background-color: white;
}

.fuenteDorado{
    color:#ddc190;
}

.fuenteNegra{
    color: black;
}

.fondoDorado{
    background-color: #ddc190;
}

.fondoVerde{
    background-color: #a3b49b;
}

.transparente{
    background-color: rgb(255, 255, 255, 0.3);;
}

/* Espacialidad */
.espacio{
    margin: 3rem 0;
}

.paddingTop{
    padding-top: 2rem;
}

.paddingBottom{
    padding-bottom: 2rem;
}

.altura{
    padding: 2rem;
}

.flex{
    display: flex;
    width: 70%;
    margin: 0 auto;
}

.info{
    width: 90%;
}

/* Imgs */
.photoBackground{
    background-image: url(../multimedia/nosCasamosFoto2.jpg);
    background-repeat: no-repeat;
    background-size: 155%;
    background-position: 85% 0;
    position: fixed;
    top: -55px;
    left: 0;
    min-height: 100%;
    max-width: 480px;
    width: 100%;
    height: auto; 
    z-index: -1;
}

.fundido{
    width: 100%;
    z-index: 0;
    margin: 0 auto;
    background: linear-gradient(to top,  rgba(255,255,255,1) 50%,rgba(255,255,58,0) 100%);
    position: relative;
    top: 0;
    left: 0;
}

.nosCasamos{
    width: 70%;
    display: block;
    padding: 60% 0 5% 0;
    margin: 10vh auto 0 auto;
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
}

.flechaAlto{
    height: 6rem;
    margin-top: -0.5rem;

}

.flechaAbajo{
    width: 2rem;
    display: block;
    margin: 0 auto;
    padding: 2rem 0;
    z-index: 1;
    animation: MoveUpDown 2s linear infinite;
}
  
  @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
      opacity: 0;
    }
    50% {
      transform: translateY(-10px);
      opacity: 1;
    }
}

.scrollDown{
    border: none;
    color: none;
    background-color: Transparent;
    cursor:pointer;
    display: block;
    margin: 0 auto;
}

.hojas{
    z-index: 2;
    width: 60%;
    position: absolute;
    bottom: 0;
}

.backGold{
    background-color: #ddc190;
    height: 8rem;
}

.icono{
    height: 8rem;
    display: block;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.imagenes{
    padding-bottom: 2rem;
    display: flex;
    flex-wrap:wrap;
    margin: 0 auto;
    justify-content: space-between;

}

.img{
    border-radius: 1rem;
    width: 9rem;
    height: 9rem;
    display: block;
    margin-bottom: 0.5rem;
    object-fit: cover;
}

#moverImg{
    object-position: 0 10%;
}

/* Botones */
.btn{
    background-color: #ddc190;
    color: white;
    font-size: 18px;
    font-weight: 300;
    border-radius: 2rem;
    border: none;
    padding: 1rem 2rem;
    display: block;
    margin: 2rem auto;
}

.btn-blanco{
    background-color: white;
    color: #ddc190;
}

.btn-negro{
    background-color: black;
}

#btnScroll {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    z-index: 99;
    border: 5px solid white;
    outline: none;
    background-color: #ddc190;
    cursor: pointer;
    padding:  1rem;
    border-radius: 2rem;
}

.flechaArriba {
    transform: scaleY(-1);
    width: 1rem;
}
 
/* Creditos */
.creditos p{
    font-size: 14px;
    padding: 2px 0;
    margin-right: 4rem;
}

#ver{
    color: #a3b49b;
    font-size: 12px;
}

 /* Modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(221, 193, 144, 0.8); /* Black w/ opacity */
  }
  
.modal-content {
    background-color: white;
    border-radius: 2rem;
    margin: 35% auto;
    padding: 20px;
    width: 80%;
}

.modal-content p{
    line-height: 50px;  
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
  
